* {
  transition: 0.1s ease-in;
}

body, * {
  font-family: "Montserrat", sans-serif;
}

body {
  color: #222222;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

.main {
  max-width: 1200px;
  margin: 0 24px;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 0 60px;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    margin: 0 auto;
  }
}
.header {
  width: 100%;
  background-color: #000000;
  padding: 38px 32px;
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo--icon:last-child {
  display: none;
}

.header__menu {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  height: 44px;
  width: 44px;
  background: center no-repeat;
}
.header__menu:hover, .header__menu:focus {
  border-color: #FFFFFF;
}

.header__menu[aria-expanded=false] {
  background-image: url("../../img/icons/menu.svg");
}
.header__menu[aria-expanded=false] + .header__nav {
  display: none;
}

.header__menu[aria-expanded=true] {
  background-image: url("../../img/icons/close.svg");
}
.header__menu[aria-expanded=true] + .header__nav {
  display: block;
}

.header__nav {
  max-width: 380px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 105%;
}

.header__nav--list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header__nav--item {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
}

.header__nav--item:hover,
.header__nav--item:focus,
.header__nav--active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 38px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo--icon:first-child {
    display: none;
  }
  .header__logo--icon:last-child {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__menu[aria-expanded=false] + .header__nav {
    display: block;
  }
  .header__nav {
    max-width: none;
    background-color: transparent;
    border: none;
    padding: 0;
    position: static;
    right: 0;
    top: 0;
  }
}
.cta-button {
  min-width: 280px;
  display: inline-block;
  border-radius: 8px;
  background-color: #B81515;
  padding: 16px 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
.cta-button:hover, .cta-button:focus {
  background-color: #8F0101;
}

.cta-button.changing {
  min-width: 312px;
}

@media screen and (min-width: 768px) {
  .cta-button.changing {
    min-width: 280px;
  }
}
.section__title {
  margin-bottom: 32px;
}

.section__title--text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.section__title--underline {
  width: 180px;
  height: 4px;
  background-color: #B81515;
  margin: 0 auto;
  margin-top: 16px;
}

@media screen and (min-width: 1440px) {
  .section__title {
    margin-bottom: 64px;
  }
}
.banner__img--desc {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 1200px;
  text-align: center;
  margin: 88px auto;
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  .banner__img--desc {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
  }
}
@media screen and (min-width: 1440px) {
  .banner__img--desc {
    margin: 112px auto;
    padding: 0;
  }
}
.offers {
  margin-bottom: 88px;
}

.offers__cards--group {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offers__cards--item {
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px 16px;
  color: #FFFFFF;
  flex: 1 0 calc(50% - 48px);
  text-align: center;
}

.offers__cards--japan {
  background-image: url("../../img/offers/japan.png");
}

.offers__cards--san-andreas {
  background-image: url("../../img/offers/san-andreas.png");
}

.offers__cards--paraiba {
  background-image: url("../../img/offers/paraiba.png");
}

.offers__cards--manaus {
  background-image: url("../../img/offers/manaus.png");
}

.offers__card--destine-type {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  margin-bottom: 8px;
}

.offers__card--destine-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.offers__card--price {
  font-size: 2rem;
  font-weight: 700;
  margin: 24px 0;
}

@media screen and (min-width: 1440px) {
  .offers {
    margin-bottom: 112px;
  }
  .offers__cards--japan {
    background-image: url("../../img/offers/japan-large.png");
  }
  .offers__cards--san-andreas {
    background-image: url("../../img/offers/san-andreas-large.png");
  }
  .offers__cards--paraiba {
    background-image: url("../../img/offers/paraiba-large.png");
  }
  .offers__cards--manaus {
    background-image: url("../../img/offers/manaus-large.png");
  }
  .offers__card--destine-name {
    font-size: 3rem;
    font-weight: 700;
  }
  .offers__card--price {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
.search__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 88px;
  flex-wrap: wrap;
}

.search__category {
  min-height: 220px;
  width: 312px;
  font-size: 1.75rem;
  font-weight: 700;
  color: #222222;
  text-align: center;
  border-radius: 8px;
  background-color: #F5F5F5;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex: 1;
}

.search__category--icon {
  height: 80px;
  width: 80px;
  background: center no-repeat;
}

.search__category--icon.national {
  background-image: url("../../img/icons/hiking.svg");
}

.search__category--icon.international {
  background-image: url("../../img/icons/flight.svg");
}

.search__category--icon.transfer {
  background-image: url("../../img/icons/airport_shuttle.svg");
}

.search__category--icon.safe {
  background-image: url("../../img/icons/vpn_lock.svg");
}

@media screen and (min-width: 1440px) {
  .search__categories {
    margin-bottom: 112px;
  }
  .search__category {
    width: 280px;
  }
}/*# sourceMappingURL=home.css.map */