@use '../abstract/typography' as t;
@use '../abstract/colors' as c;

.footer {
    width: 100%;
    background-color: c.$black;
    padding: 32px 24px;
}

.footer__wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    color: c.$grey-light;
    text-align: center;
}

.footer__logo-icon {
    max-width: 160px;
    margin-bottom: 16px;
}

.footer__text-info,
.footer__social-media-text {
    @include t.body;
}

.footer__text-info:first-of-type {
    margin-bottom: 8px;
}

.footer__social-media-wrapper {
    margin-top: 32px;
}

.footer__social-media-text {
    margin-bottom: 16px;
}

.footer__social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer__social-media-icon {
    height: 44px;
    width: 44px;
    display: inline-block;
    background: center no-repeat;
}

.footer__social-media-icon.whatsapp {
    background-image: url('../../img/icons/whatsapp.svg');
}

.footer__social-media-icon.instagram {
    background-image: url('../../img/icons/instagram.svg');
}

.footer__social-media-icon.twitter {
    background-image: url('../../img/icons/twitter.svg');
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 32px 60px;
    }

    .footer__text-info,
    .footer__social-media-text {
        @include t.body-l;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        padding: 52px 0;
    }

    .footer__wrapper {
        flex-direction: row;
        text-align: start;
    }

    .footer__social-media-wrapper {
        margin-top: 0;
    }
}