@use '../abstract/typography' as t;

.destinations {
    margin-bottom: 88px;
}

.destinations__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
}

.destinations__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinations__item--image {
    max-width: 100%;
}

.destinations__item--name {
    @include t.title-sm;
    margin: 24px 0;
}

.destinations__item--desc {
    @include t.body-l;
    margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
    .destinations {
        margin-bottom: 112px;
    }

    .destinations__list {
        flex-direction: row;
        gap: 24px;
    }
}