@use '../abstract/typography' as t;
@use '../abstract/colors' as c;

.section__title {
    margin-bottom: 32px;
}

.section__title--text {
    @include t.title;
    text-align: center;
}

.section__title--underline {
    width: 180px;
    height: 4px;
    background-color: c.$red;
    margin: 0 auto;
    margin-top: 16px;
}

.section__desc {
    @include t.body;
    margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
    .section__desc {
        @include t.body-l;
    }
}

@media screen and (min-width: 1440px) {
    .section__title {
        margin-bottom: 64px;
    }
}