@use '../abstract/typography' as t;

.destinations {
    margin-bottom: 88px;
}

.destinations__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
}

.destinations__item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.destinations__item--name {
    @include t.title-sm;
    margin: 24px 0;
}

.destinations__item--name.alt {
    margin: 16px 0 8px;
}

.destinations__item--desc {
    @include t.body-l;
    margin-bottom: 24px;
}

.destinations__item--desc.alt {
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .destinations__item--image {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .destinations {
        margin-bottom: 112px;
    }

    .destinations__list {
        flex-direction: row;
        gap: 24px;
    }
}