@use 'typography' as t;
@use 'colors' as c;

* {
    transition: .1s ease-in;
}

body, * {
    font-family: t.$main-font;
}

body {
    color: c.$nero;
    background-color: c.$white;
}


img {
    max-width: 100%;
}

.main {
    max-width: 1200px;
    margin: 0 24px;
}

.pre-footer__image {
    width: 100%;
    display: block;
}

@media screen and (min-width: 768px) {
    .main {
        margin: 0 60px;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        margin: 0 auto;
    }
}